---
layout: default
title: Lottery Results, Jackpots and Numbers | LotteryNumber.net
tag: [lottery results,lotto,winning numbers,latest,United States lotteries,USA,Canada,UK,Ireland,Germany,Italy,jackpots,prizes]
meta_description: Latest lottery results (winning numbers) for United States lotteries (USA), Canada, UK, Ireland, Germany, Italy, past lotto numbers, jackpots, prize payouts, odds, including Powerball and Mega Millions.
---

<h1 class='m-4'>
  <small> Lottery Results </small>
</h1>

<!-- <div class="container-fluid country-container">
  <div class="row align-items-center">
    <div class='col-1'>
      <img src="{{site.url}}/assets/images/canada.png" /> 
    </div>
    <div class='col-2'>
      <h4> Canada </h4>
    </div>
  </div>
  <div class='row'>
    <div class='divider'></div>
  </div>
  <div class="row justify-content-start">
    {% for province in site.data.provinces %}
    <div class="col">
      <a href="/{{state.abbreviation}}">
        <h5 class='state'> {{province.name}} </h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div> -->

<div class="container-fluid country-container">
  <div class="row align-items-center justify-content-start">
      <img class='m-3' src="{{site.url}}/assets/images/usa.png" /> 
      <h4> United States </h4>
  </div>
  <div class='row'>
    <div class='divider'></div>
  </div>
  <div class="row justify-content-start">
    {% for state in site.data.states_by_country['us'] %}
    <div class="col-6 col-sm-6 col-md-3">
      <a href="/{{state.slug}}">
        <h7 class='state-list-item'> {{state.name}} </h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container-fluid country-container">
  <div class="row align-items-center justify-content-start">
      <img class='m-3' src="{{site.url}}/assets/images/canada.png" /> 
      <h4> Canada </h4>
  </div>
  <div class='row'>
    <div class='divider'></div>
  </div>
  <div class="row justify-content-start">
    {% for state in site.data.states_by_country['ca'] %}
    <div class="col-6 col-sm-6 col-md-3">
      <a href="/{{state.slug}}">
        <h7 class='state-list-item'> {{state.name}} </h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container-fluid country-container">
  <div class="row align-items-center justify-content-start">
      <img class='m-3' src="{{site.url}}/assets/images/europe.png" height="64px" width="64px" /> 
      <h4> Europe </h4>
  </div>
  <div class='row'>
    <div class='divider'></div>
  </div>
  <div class="row justify-content-start">
    {% for state in site.data.states_by_country['eu'] %}
    <div class="col-6 col-sm-6 col-md-3">
      <a href="/{{state.slug}}">
        <h7 class='state-list-item'> {{state.name}} </h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>